<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header-css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div id="wrapper">


 <div class="checkout_area section_padding_100">

           <div class="container">
            <form th:object="${orderForm}" method="POST">
                <div class="row">

                        <div class="col-12 col-md-6">
                        <div class="checkout_details_area mt-50 clearfix">
                        <div class="cart-page-heading">
                        <h5>Billing Address</h5>
                        </div>

                       <div class="row">
                         <div class="col-md-6 mb-3">
                            <label for="first_name">First Name <span>*</span></label>
                            <input type="text" th:field="*{first_name}" class="form-control" id="first_name" value="" required />
                             <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"></div>
                         </div>
                         <div class="col-md-6 mb-3">
                            <label for="last_name">Last Name <span>*</span></label>
                            <input type="text" th:field="*{last_name}" class="form-control" id="last_name" value="" required />
                             <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"></div>
                         </div>
                         <div class="col-12 mb-3">
                            <label for="company">Company Name</label>
                            <input type="text" th:field="*{company}" class="form-control" id="company" value="" />
                             <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></div>
                         </div>
                         <div class="col-12 mb-3">
                         <label for="country">Country <span>*</span></label>
                           <select th:field="*{country}" class="custom-select d-block w-100" id="country">
                           <option value="usa">United States</option>
                           <option value="uk">United Kingdom</option>
                           <option value="ger">Germany</option>
                           <option value="fra">France</option>
                           <option value="ind">India</option>
                           <option value="aus">Australia</option>
                           <option value="bra">Brazil</option>
                           <option value="cana">Canada</option>
                         </select>
                         </div>
                         <div class="col-12 mb-4">
                          <label for="email_address">Email Address <span>*</span></label>
                          <input type="email" th:field="*{email}" class="form-control" id="email_address" value="" />
                             <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                         </div>
                           <div class="col-12 mb-4">
                               <label for="delivery_address">Delivery Address <span>*</span></label>
                               <input type="text" th:field="*{address}" class="form-control" id="delivery_address" value=""/>
                               <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                           </div>
                         <div class="col-md-8 mb-3">
                          <label for="card_number">Card Number <span>*</span></label>
                          <input type="text" th:field="*{card_number}" class="form-control" id="card_number" value="" required />
                             <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('card_number')}" th:errors="*{card_number}"></div>
                         </div>
                         <div class="col-md-4 mb-3">
                           <label for="cvv">Card Cvv <span>*</span></label>
                           <input type="text" th:field="*{cvv}" class="form-control" id="cvv" value="" required />
                             <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}"></div>
                          </div>
                           <input type="text" th:field="*{total}" class="form-control" id="total" value="" th:value="${totalPrice}" hidden>
                           <input type="text" th:field="*{quantity}" class="form-control" id="quantity" value="" th:value="${products.size()}" hidden>
                       </div>

                </div>
                </div>
                        <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                <div class="shopOrder-details-confirmation">
                <div class="cart-page-heading">
                <h5>Your Order</h5>
                <p>The Details</p>
                </div>
                <ul class="shopOrder-details-form mb-4">
                <li><span>Product</span> <span>Total</span></li>
                <li  th:each="product : ${products.entrySet()}">
                 <span th:text="${product.getKey().getName()}"></span> <span th:text="${product.getKey().getPrice()}"></span>
                </li>
                <li><span>Subtotal</span> <span th:text="${totalPrice}"></span></li>
                <li><span>Shipping</span> <span>Free</span></li>
                <li><span>Total</span> <span th:text="${totalPrice}" th:field="*{total}"></span></li>
                </ul>
<!--                    <a th:href="@{/cart/checkout}" type="submit" class="btn karl-checkout-btn" th:value="#{cart.confirm}"></a>-->
                    <input class="btn karl-checkout-btn" type="submit" th:action="@{/cart/checkout}" th:value="#{cart.confirm}"/>
                </div>
                </div>

                </div>
           </form>

   </div>

 </div>


<footer class="footer_area">
<div class="container">
<div class="row">

<div class="col-12 col-md-6 col-lg-3">
<div class="single_footer_area">
<div class="footer-logo">
<img src="images/core-img/logo.png" alt="">
</div>
<div class="copywrite_text d-flex align-items-center">
<p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://Kapa.com/" target="_blank">Kapa</a>
</p>
</div>
</div>
</div>

<div class="col-12 col-sm-6 col-md-3 col-lg-2">
<div class="single_footer_area">
<ul class="footer_widget_menu">
<li><a href="#">About</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Faq</a></li>
<li><a href="#">Returns</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
</div>

<div class="col-12 col-sm-6 col-md-3 col-lg-2">
<div class="single_footer_area">
<ul class="footer_widget_menu">
<li><a href="#">My Account</a></li>
<li><a href="#">Shipping</a></li>
<li><a href="#">Our Policies</a></li>
<li><a href="#">Afiliates</a></li>
</ul>
</div>
</div>

<div class="col-12 col-lg-5">
<div class="single_footer_area">
<div class="footer_heading mb-30">
<h6>Subscribe to our newsletter</h6>
</div>
<div class="subscribtion_form">
<form action="#" method="post">
<input type="email" name="mail" class="mail" placeholder="Your email here">
<button type="submit" class="submit">Subscribe</button>
</form>
</div>
</div>
</div>
</div>
<div class="line"></div>

<div class="footer_bottom_area">
<div class="row">
<div class="col-12">
<div class="footer_social_area text-center">
<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
</div>
</div>
</div>
</div>
</div>
</footer>

</div>


<script src="js/jquery/jquery-2.2.4.min.js"></script>

<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/plugins.js"></script>

<script src="js/active.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="" integrity="" data-cf-beacon='{"rayId":"7b459abcad1eb19c","version":"2023.3.0","b":1,"token":"cd0b4b3a733644fc843ef0b185f98241","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from preview.Kapa.com/theme/karl/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Apr 2023 22:11:38 GMT -->
</html>